body {
  font-family: sans-serif;
  background-color: #fafafa;
  padding: 24px 156px;
  margin: 0;
}

.gallery {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 360px); 
  gap: 24px; 
  padding: 0;
  margin: 0;
}

.gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
}

.basicLightbox__placeholder {
  padding: 28px 164px; 
  box-sizing: border-box;
}

.basicLightbox__placeholder img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
